<?xml version='1.0' encoding='UTF-8' ?>
{%spaceless%}<!DOCTYPE html
     PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN'
     'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'> 

<html xmlns="http://www.w3.org/1999/xhtml" lang="en"> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" /> 
        <title>{% block title %}Benvenuti!{% endblock %} - Gente Comune con voi!</title> 
        <meta name="title"          content="Gente Comune con voi!" /> 
        <meta name="keywords"       content="" /> 
        <meta name="description"    content="Gente Comune con voi!" /> 
        <meta name="robots"         content="index,follow" /> 
        <meta name="date"           content="27Mar2011" /> 
        <meta name="revisit-after"  content="30 Days" /> 
        <meta name="last-update"    content="2011-03-27 09:51:54.755617" /> 
        <meta name="subject"        content="Gente Comune con voi!" />
        <meta name="author"         content="Filippo Baruffaldi" /> 
        <meta name="publisher"      content="Filippo Baruffaldi" /> 
        <meta name="reply-to"       content="info@baruffaldi.info" /> 
<!--        <meta name="google-site-verification" content="rrjuJglr0MPJXMAzUsC_k7GS8DGel0wg9NIgyGC60q4" /> -->
        <link rev="made"            href="mailto:filippo@baruffaldi.info" /> 
        <link rel="shortcut icon"   href="http://www.baruffaldi.info/static/images/filippo-baruffaldi-icon2.png" type="image/png" />
        <style>{%endspaceless%}
{% block style %}{% endblock %}
        {%spaceless%}
        </style>
    </head>
    <body>
   {% if logged_in_user %}
     <div id="user-info">
       <div class="info">
         <a class="name" href="/user/{{ logged_in_user.user_id }}">
           {{ logged_in_user.name }}
         </a>
         <a class="logout" onclick="FB.logout()">Logout</a>
       </div>
       <img width="50" height="50" src="{{ logged_in_user.picture }}">
     </div>
   {% endif %}
    <div id="container">
     {% block container %}Hello World!{% endblock %}
    </div>
    <div id="footer">2011 &copy; Gente Comune - P.I. 0000000000000<br /><p id="subFooter">Powered by GBC and developed by <a style="color: #ccc;text-decoration:none;" href="http://www.baruffaldi.info" title="Filippo Baruffaldi">Filippo Baruffaldi</a></p></div>
        
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript"> 
{%endspaceless%}
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");

            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
{%spaceless%}
        </script>
        <script type="text/javascript"> 
{%endspaceless%}
            try {

                var pageTracker = _gat._getTracker("UA-22894000-1");

                pageTracker._trackPageview();

            } catch(err) {}
{%spaceless%}
        </script>
    </body>
</html>{%endspaceless%}