{% extends "base.html" %}

{% block title %}Benvenuto{% endblock %}
{% block container %}
{%spaceless%}
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 10,
  interval: 6000,
  width: 'auto',
  height: 450,
  theme: {
    shell: {
      background:'transparent', //'#f58320',
      color: '#ffffff'
    },
    tweets: {
      background: '#01418a',
      color: '#ffffff',
      links: '#f58320'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'all'
  }
}).render().setUser('baruffaldi').start();
</script>
<p style="text-align:center">
<img src="/static/slogo.png" alt="GC" />
</p>
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=203029406404551&amp;xfbml=1"></script><fb:comments href="http://gente-comune.appspot.com/facebook/twitter" num_posts="10" width="505"></fb:comments>
{%endspaceless%}
{% endblock %}

{% block style %}
p, body {
    margin: 0 0;
    padding: 0 0;
}

body {
    background-image: url('/static/bg.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
    text-align: justify;
    margin: 0 0;
    padding: 0 0;
    font-family: "Orator Std", Verdana;
    font-family:  'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    color: #01408a;
}


h1 {
    margin-top: 0;
    padding-top: 0;
}


@media screen {
    @font-face {
      font-family: 'Orator Std';
      font-style: normal;
      font-weight: normal;
      src: local('Orator Std'), local('Orator Std Slanted'), url('/static/ORATORSTD.OTF') format('otf');
    }
    @font-face {
      font-family: 'Old Script';
      font-style: normal;
      font-weight: normal;
      src: local('Old Script'), url('/static/Old Script.ttf') format('ttf');
    }
}
/*
 * MENU
*/


#menu
{
}

#menuWrapper
{
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    font-size: 27px;
}

#menu a, #menu a:active, #menu a:focus, #menu a:visited
{
    filter:alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
    -moz-text-shadow: 0px 0px 3px #888;
    -webkit-text-shadow: 0px 0px 3px #888;
    text-shadow: 0px 0px 3px #888;
    text-decoration: none;
    color: red;
}

#menu a:hover
{
    filter:alpha(opacity=100);
    -moz-opacity: 1.0;
    opacity: 1.0;
    text-decoration: none;
    color: red;
}

/*
 * CONTENUTI
*/

#content
{
    float: right;
    width: 370px;
}

.content
{
    margin-bottom: 30px;
    border: 7px solid white;
    padding: 10px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-image: url('/static/bg_contents.png');
}


/*
 * FOOTER
*/

#footer
{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-family: "OratorSTD", Verdana;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    -moz-text-shadow: 0px 0px 1px #000;
    -webkit-text-shadow: 0px 0px 1px #000;
    text-shadow: 0px 0px 1px #000;
}

#subFooter
{
    font-family: "OratorSTD", Verdana;
    font-size: 12px;
    line-height: 15px;
    color: #f58220;
    font-weight: bold;
    -moz-text-shadow: 0px 0px 1px #000;
    -webkit-text-shadow: 0px 0px 1px #000;
    text-shadow: 0px 0px 1px #000;
}
{% endblock %}