<?xml version='1.0' encoding='UTF-8' ?>
{%spaceless%}<!DOCTYPE html
	 PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN'
	 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'> 

<html xmlns="http://www.w3.org/1999/xhtml" lang="en"> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" /> 
		<title>Main Agency SRL - Events, Security, Limousine, Life-Style</title> 
		<meta name="title"          content="Main Agency SRL - Events, Security, Limousine, Life-Style" /> 
		<meta name="keywords"       content="main agency,security agency,agenzia di sicurezza,sicurezza,main,agency,agenzia,agenzia sicurezza,boccuni,baruffaldi,filippo baruffaldi" /> 
		<meta name="description"    content="Main Agency is a security agency that operates in Liguria (Italy) for the most famous night-places, events and concerts." /> 
		<meta name="robots"         content="index,follow" /> 
		<meta name="date"           content="27May2010" /> 
		<meta name="revisit-after"  content="30 Days" /> 
		<meta name="last-update"    content="2010-05-27 09:51:54.755617" /> 
		<meta name="subject"        content="Main Agency - Official Site" />
		<meta name="author"         content="Filippo Baruffaldi" /> 
		<meta name="publisher"      content="Filippo Baruffaldi" /> 
		<meta name="reply-to"       content="info@mainagency.it" /> 
		<meta name="google-site-verification" content="rrjuJglr0MPJXMAzUsC_k7GS8DGel0wg9NIgyGC60q4" />
		<link rev="made"            href="mailto:filippo@baruffaldi.info" /> 
		<link rel="shortcut icon"   href="http://www.baruffaldi.info/static//static/images/filippo-baruffaldi-icon2.png" type="image/png" />
        <style>{%endspaceless%}
p, body {
    margin: 0 0;
    padding: 0 0;
}

body {
    background-image: url('/static/bg.jpg');
    text-align: justify;
    margin: 0 0;
    padding: 0 0;
    font-family: "Orator Std", Verdana;
}

@media screen {
    @font-face {
      font-family: 'Orator Std';
      font-style: normal;
      font-weight: normal;
      src: local('Orator Std'), local('Orator Std Slanted'), url('/static/ORATORSTD.OTF') format('otf');
    }
    @font-face {
      font-family: 'Old Script';
      font-style: normal;
      font-weight: normal;
      src: local('Old Script'), url('/static/Old Script.ttf') format('ttf');
    }
}

.oldscript
{
    font-family: 'Old Script';
	font-size: 37px;
    -moz-text-shadow: 0px 0px 7px #fff;
    -webkit-text-shadow: 0px 0px 7px #fff;
    text-shadow: 0px 0px 7px #fff;
}

/*
 * BACKGROUND
*/

#background
{
}

#backgroundLogoWrapper
{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 564px;
    text-align: center;
    display: table;
}

#mainLogo
{
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
}

#backgroundLightWrapper
{
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 100%;
    height: 564px;
    text-align: center;
    display: table;
}

#mainLogoLight
{
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
}

#backgroundMotto
{
    font-family: 'Old Script';
    color: #ffffff;
    font-size: 100px;
    text-align: center;
    margin: -70px auto 70px auto;
    -moz-text-shadow: 0px 0px 7px #fff;
    -webkit-text-shadow: 0px 0px 7px #fff;
    text-shadow: 0px 0px 7px #fff;
}

/*
 * MENU
*/


#menu
{
}

#menuWrapper
{
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    font-size: 27px;

    padding: 16px;
    width: 300px;

    margin: 0 auto;

    background-color: #000000;
    border: 12px solid white;

    -moz-border-radius: 35px;
    border-radius: 35px;

    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
}

#menu a, #menu a:active, #menu a:focus, #menu a:visited
{
    filter:alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;

    -moz-text-shadow: 0px 0px 3px #888;
    -webkit-text-shadow: 0px 0px 3px #888;
    text-shadow: 0px 0px 3px #888;

    text-decoration: none;
    color: red;
}

#menu a:hover
{
    filter:alpha(opacity=100);
    -moz-opacity: 1.0;
    opacity: 1.0;
    text-decoration: none;
    color: red;
}

/*
 * CONTENUTI
*/

#contents
{
    margin-top: 70px;
    position: relative;
    z-index: 4;
}

.content
{
    margin-bottom: 50px;
}

.contentTitle
{
    color: #ffffff;
    font-size: 40px;
    width: 80%;
    margin: 10px auto -13px auto;
    -moz-text-shadow: 0px 0px 7px #fff;
    -webkit-text-shadow: 0px 0px 7px #fff;
    text-shadow: 0px 0px 7px #fff;
}

.contentText
{
    text-align: left;
    line-height: 18px;
    color: #ffffff;
    font-size: 15px;
    color: #cccccc;

    padding: 16px;
    width: 80%;
    margin: 1px auto 10px auto;

    background-color: #000000;
    border: 12px solid white;


    -moz-border-radius: 35px;
    border-radius: 35px;

    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
}

.contentFooter, .contentFooter a, .contentFooter a:visited, .contentFooter a:hover, .contentFooter a:active
{
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    text-align: right;
    width: 80%;
    font-weight: bold;
    margin: -46px auto 0px auto;
    -moz-text-shadow: 0px 0px 7px #fff;
    -webkit-text-shadow: 0px 0px 7px #fff;
    text-shadow: 0px 0px 7px #fff;
}

.left-to-text
{
    width: 200px;
    float:left;
    margin-right: 15px;
    border: 3px solid #ffffff;
}

.left
{
    float:left;
    padding-right: 15px;
}

/*
 * FOOTER
*/

#footer
{
    width: 100%;
    position: relative;
    bottom: 5px;

    text-align: center;
    font-family: "OratorSTD", Verdana;
    font-size: 14px;
    color: #ffffff;
    -moz-text-shadow: 0px 0px 1px #fff;
    -webkit-text-shadow: 0px 0px 1px #fff;
    text-shadow: 0px 0px 1px #fff;
}

#subFooter
{
    font-family: "OratorSTD", Verdana;
    font-size: 12px;
    line-height: 15px;
    color: #bbbbbb;
    -moz-text-shadow: 0px 0px 1px #fff;
    -webkit-text-shadow: 0px 0px 1px #fff;
    text-shadow: 0px 0px 1px #fff;
}{%spaceless%}
        </style>
    </head>
    <body>
        <div id="background">
	        <div id="backgroundLogoWrapper">
	            <p id="mainLogo"><img src="/static/logo.png" alt="Main Agency" /></p>
	        </div>
            <div id="backgroundLightWrapper">
                <img id="mainLogoLight" src="/static/light.png" alt="-" />
            </div>
            <div id="backgroundMotto">
                All you need to Shine
            </div>
        </div>
        
        <div id="menu">
            <div id="menuWrapper">
	            <a href="#aboutUs" title="Chi Siamo">Chi Siamo</a><br />
	            <a href="#ourServices" title="I Nostri Servizi">I Nostri Servizi</a><br />
	            <a href="#whereWeAre" title="Come Raggiungerci">Come Raggiungerci</a>
            </div>
        </div>
        
        <div id="contents">
	        <div class="content" id="aboutUs">
	            <h1 class="contentTitle">Chi Siamo</h1>
	            <div class="contentText">
Main Agency nasce dalla fusione di tre diverse agenzie già operanti da più di 10 anni nel settore dello show business e si è subito affermata sul territorio nazionale diventando, ad oggi, una delle realtà più innovative e competitive del settore e punto di riferimento per imprese ed aziente.<br /><br />
L' agenzia si avvale di partners nazionali ed internazionali e di uno staff plurilingue con certificazioni ed iscrizione agli albi professionali.<br /><br />
Tutto il nostro personale è selezionato in base a criteri di immagine, cortesia, predisposizione ai rapporti interpersonali e livello culturale.<br /><br />
Una sinergia forte tra le agenzie, il modus operandi meticoloso, una solida struttura organizzativa ed una rigorosa preparazione ed efficienza dei suoi collaboratori, così Main Agency è in grado di soddisfare ogni genere di esigenza;dalla pianificazione e gestione di ogni tipo di servizio logistico all' organizzazione di eventi pubblici per aziende, istituzioni e privati.<br /><br />
Main Agency è specializzata nei servizi ad alto valore qualitativo per imprese coinvolte nell' organizzazione, gestione e produzione di eventi pubblici quali congressi, concerti, sfilate, set cinematografici e manifestazioni di vario tipo.
	            </div>
                <p class="contentFooter"><a href="#menu" title="..Torna su..">..Torna su..</a></p>
	        </div>
	        <div class="content" id="ourServices">
	            <h1 class="contentTitle">I Nostri Servizi</h1>
	            <div class="contentText">
<h2 class="oldscript">Eventi</h2>
<img class="left-to-text" src="/static/events.jpg" alt="-" />
La pianificazione di un evento necessita una meticolosa analisi che implica l'interazione di diverse competenze, Main Agency per questo si avvale della sua esperienza e del suo know-how di alto livello acquisito nel tempo.<br /><br />
Dopo un primo studio delle esigenze del cliente ed un attenta analisi dei requisiti e della logistica dell'evento, Main Agency sviluppa una vera e propria strategia logistica, commerciale e di comunicazione, servendosi delle sue attitudini e del suo team. L'Obiettivo primario di Main Agency è la soddisfazione del cliente.<br /><br />
Main Agency cura molti aspetti quali la gestione del budget, del menù design, del catering, la pianificazione delle locations e dei trasporti coordinando le operazioni di move-in e move-out.<br /><br />
Le aree di intervento variano dai Gala Parties alle Prime Cinematografiche, Main Agency è impeccabile nell'organizzazione di eventi, commerciali, culturali, corporate, conventions, show business, serate a tema, matrimoni e qualsiasi altra tipologia di evento speciale.<br />
<br /><br />

<h2 class="oldscript">Security</h2>
<img class="left-to-text" src="/static/security.jpg" alt="-" />
Main Agency è costituita da professionisti della sicurezza di tutto rispetto ed esperti del settore.
Offriamo una vasta gamma di servizi di Sicurezza e Safety che coprono la pianificazione, la progettazione e realizzazione di strategie logistiche chiavi in mano per accompagnamenti, scorte ed eventi quali congressi, spettacoli, concerti, tours o qualsiasi altro genere di evento pubblico o privato.<br /><br />
Main Agency fornisce soluzioni di sicurezza di gestione del rischio per imprese, istituzioni e clienti privati. I nostri clienti sono aziende multinazionali, organizzazioni internazionali ed importanti società nel territorio nazionale.<br /><br />
I servizi di sicurezza includono una stretta protezione di VIP, la sicurezza personale dei dipendenti e l'analisi delle possibili minacce. Il nostro approccio è reattivo e personalizzato.<br /><br />
La tranquillità dei nostri clienti è per noi motivo di orgoglio.<br />
<br /><br />

<h2 class="oldscript">Limousine</h2>
<img class="left-to-text" src="/static/limousine.jpg" alt="-" />
La missione di Main Agency è di offrire ai clienti un prestigioso ed esclusivo servizio di limousine e noleggio con conducente per tutti i tipi di occasioni in tutto il mondo.<br /><br />
Grazie alle partnership con aziende limousine nazionali ed internazionali, leader a livello mondiale, aperte 365 giorni 24 ore su 24 e alla collaborazione di professionisti plurilingue con certificazioni ed iscrizione all'albo professionale, possiamo presentare un'offerta di servizi che soddisfi a pieno le esigenze del cliente.<br /><br />
La nostra flotta è composta da berline, monovolumi, SUV e furgoni, con un servizio di accoglienza in aeroporti, porti e stazioni ferroviarie. Per i vostri eventi siamo in grado di fornire un parco macchine tutte dello stesso modello e colore.<br /><br />
E' nostra cura fare particolare attenzione ai dettagli in termini di eleganza e privacy del servizio.<br />
<br /><br />

<h2 class="oldscript">Life-Style</h2>
<img class="left-to-text" src="/static/life-style.jpg" alt="-" />
Main Agency e' specializzata nel fornire un'esperienza di lusso a terra, in mare ed in cielo. Main Agency ha acquisito esperienza nel noleggio di yacht di lusso ed offre servizi di intermediazione per la nostra rete in tutto il mondo. Lasciate che Main Agency si occupi di tutto mentre vi godete il vostro viaggio di vacanza o lavoro.<br /><br />
Main Agency ha accesso ad una serie di veivoli di lusso high-end per fornire servizi sicuri ed efficienti in prima classe, orientati alle organizzazioni pubbliche, private e a qualsiasi realtà operante nel settore dello show business.<br /><br />
Con Main Agency avrete una vasta selezione di residenze esclusive in affitto per vacanze od eventi, in Europa e in tutto il mondo. Tutte le nostre locations sono state selezionate per la loro posizione, qualità ed eleganza. Offriamo solo le migliori locations.<br /><br />
Con Main Agency ed il suo trattamento VIP composto dal servizio personalizzato, le prestigiose locations, le imbarcazioni e gli aeromobili con equipaggio, le tue esperienze supereranno ampiamente le tue aspettative.
                </div>
	            <p class="contentFooter"><a href="#menu" title="..Torna su..">..Torna su..</a></p>
	        </div>
	        <div class="content" id="whereWeAre">
	            <h1 class="contentTitle">Come Raggiungerci</h1>
	            <div class="contentText">
<div class="left">
<h2>Main Agency SRL</h2>
P.I. 02003830995<br />
<br />
<h3>Ufficio</h3>
Via Odessa 10<br />
16129 Genoa (Italy)<br />
<br />
Tel +39 010 859 2787<br />
Fax +39 010 860 2638<br />
<br />
info @ mainagency.it<br />
www . mainagency . it<br />
<br />
<h3>Amministrazione</h3>
<b>Francesco Boccuni</b><br />
Mobile +39 347 709 6068<br />
francesco . boccuni @ mainagency . it<br />
<br />
<b>Antonio Boccuni</b><br />
Mobile +39 347 265 1880<br />
antonio . boccuni @ mainagency . it<br />
<br />
<b>Luca Parodi</b><br />
Mobile +39 335 622 9101<br />
luca . parodi @ mainagency . it
</div>
<div style="text-align: right;">
<a href="http://goo.gl/maps/ctTa" title="Clicca qui per la mappa!"><img style="border: 5px solid #fff;" src="/static/map.png" alt="Clicca qui per la mappa" /></a>
</div>
<br style="clear:both" />
                </div>
                <p class="contentFooter"><a href="#menu" title="..Torna su..">..Torna su..</a></p>
	        </div>
        </div>
        
        <div id="footer">2011 &copy; Main Agency s.r.l. - P.I. 02003830995<br /><p id="subFooter">Powered by GBC and developed by <a style="color: #ccc;text-decoration:none;" href="http://www.baruffaldi.info" title="Filippo Baruffaldi">Filippo Baruffaldi</a></p></div>
		
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>
		<script type="text/javascript"> 
{%endspaceless%}
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");

			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
{%spaceless%}
		</script>
		<script type="text/javascript"> 
{%endspaceless%}
			try {

				var pageTracker = _gat._getTracker("UA-3313712-9");

				pageTracker._trackPageview();

			} catch(err) {}
{%spaceless%}
		</script>
    </body>
</html>{%endspaceless%}