<?xml version='1.0' encoding='UTF-8' ?>
{%spaceless%}<!DOCTYPE html
	 PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN'
	 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'> 

<html xmlns="http://www.w3.org/1999/xhtml" lang="en"> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" /> 
		<title>Gente Comune con voi!</title> 
		<meta name="title"          content="Gente Comune con voi!" /> 
		<meta name="keywords"       content="" /> 
		<meta name="description"    content="Gente Comune con voi!" /> 
		<meta name="robots"         content="index,follow" /> 
		<meta name="date"           content="27Mar2011" /> 
		<meta name="revisit-after"  content="30 Days" /> 
		<meta name="last-update"    content="2011-03-27 09:51:54.755617" /> 
		<meta name="subject"        content="Gente Comune con voi!" />
		<meta name="author"         content="Filippo Baruffaldi" /> 
		<meta name="publisher"      content="Filippo Baruffaldi" /> 
		<meta name="reply-to"       content="info@baruffaldi.info" /> 
		<meta name="google-site-verification" content="rrjuJglr0MPJXMAzUsC_k7GS8DGel0wg9NIgyGC60q4" />
		<link rev="made"            href="mailto:filippo@baruffaldi.info" /> 
		<link rel="shortcut icon"   href="http://www.baruffaldi.info/static/images/filippo-baruffaldi-icon2.png" type="image/png" />
        <style>{%endspaceless%}
p, body {
    margin: 0 0;
    padding: 0 0;
}

body {
    background-image: url('/static/bg.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
    text-align: justify;
    margin: 0 0;
    padding: 0 0;
    font-family: "Orator Std", Verdana;
    font-family:  'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    color: #01408a;
}


h1 {
    margin-top: 0;
    padding-top: 0;
}


@media screen {
    @font-face {
      font-family: 'Orator Std';
      font-style: normal;
      font-weight: normal;
      src: local('Orator Std'), local('Orator Std Slanted'), url('/static/ORATORSTD.OTF') format('otf');
    }
    @font-face {
      font-family: 'Old Script';
      font-style: normal;
      font-weight: normal;
      src: local('Old Script'), url('/static/Old Script.ttf') format('ttf');
    }
}

/*
 * SIDEBAR*/

#sidebar
{
    float: left;
//    background-color: #01408a;
    padding: 5px;
    color: #f58220;
    text-align: center;
    font-size: 147px;
    font-family: arial;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 110px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    width: 120px;
    background-image: url('/static/bg_sidebar.png');
    text-shadow: 1px -1px 3px #fff;
}
#title
{
    padding: 15px 0 25px 0;
}

/*
 * MENU
*/


#menu
{
}

#menuWrapper
{
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    font-size: 27px;
}

#menu a, #menu a:active, #menu a:focus, #menu a:visited
{
    filter:alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
    -moz-text-shadow: 0px 0px 3px #888;
    -webkit-text-shadow: 0px 0px 3px #888;
    text-shadow: 0px 0px 3px #888;
    text-decoration: none;
    color: red;
}

#menu a:hover
{
    filter:alpha(opacity=100);
    -moz-opacity: 1.0;
    opacity: 1.0;
    text-decoration: none;
    color: red;
}

/*
 * CONTENUTI
*/

#content
{
    float: right;
    width: 370px;
}

.content
{
    margin-bottom: 30px;
    border: 7px solid white;
    padding: 10px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-image: url('/static/bg_contents.png');
}


/*
 * FOOTER
*/

#footer
{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-family: "OratorSTD", Verdana;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    -moz-text-shadow: 0px 0px 1px #000;
    -webkit-text-shadow: 0px 0px 1px #000;
    text-shadow: 0px 0px 1px #000;
}

#subFooter
{
    font-family: "OratorSTD", Verdana;
    font-size: 12px;
    line-height: 15px;
    color: #f58220;
    font-weight: bold;
    -moz-text-shadow: 0px 0px 1px #000;
    -webkit-text-shadow: 0px 0px 1px #000;
    text-shadow: 0px 0px 1px #000;
}


{%spaceless%}
        </style>
    </head>
    <body>
    <div id="container">
        <div id="sidebar">
            <img src="/static/logo.png" alt="GC" /><br />
            <p id="title" class="vertical_text">G<br />e<br />n<br />t<br />e<br /> <br />C<br />o<br />m<br />u<br />n<br />e</p>
        </div>
        <div id="content">
	        <div id="menu">
	            <div id="menuWrapper">
	                <a href="#aboutUs" title="Chi Siamo">Chi Siamo</a><br />
	                <a href="#ourServices" title="I Nostri Servizi">I Nostri Servizi</a><br />
	                <a href="#whereWeAre" title="Come Raggiungerci">Come Raggiungerci</a>
	            </div>
	        </div>
            <div class="content">
                <h1>Lorem ipsum</h1>
                <p>sdlfòhglsdfh gòlkdsòhg ldfhsòlkhsd hgsdjòfh gòlkhd gkhsd òflkhgjsldkfhgfsdhòkgjhslfkgh slfkhg lkdj glkdhjslkgjsdflkhgldsfkhglhdsfkglh dlfhg </p>
            </div>
            <div class="content">
                <h1>Lorem ipsum</h1>
                <p>sdlfòhglsdfh gòlkdsòhg ldfhsòlkhsd hgsdjòfh gòlkhd gkhsd òflkhgjsldkfhgfsdhòkgjhslfkgh slfkhg lkdj glkdhjslkgjsdflkhgldsfkhglhdsfkglh dlfhg </p>
            </div>
            <div class="content">
                <h1>Lorem ipsum</h1>
                <p>sdlfòhglsdfh gòlkdsòhg ldfhsòlkhsd hgsdjòfh gòlkhd gkhsd òflkhgjsldkfhgfsdhòkgjhslfkgh slfkhg lkdj glkdhjslkgjsdflkhgldsfkhglhdsfkglh dlfhg </p>
            </div>
        </div>
        <br style="clear:both;" />
    </div>
    <div id="footer">2011 &copy; Gente Comune - P.I. 0000000000000<br /><p id="subFooter">Powered by GBC and developed by <a style="color: #ccc;text-decoration:none;" href="http://www.baruffaldi.info" title="Filippo Baruffaldi">Filippo Baruffaldi</a></p></div>
		
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>
		<script type="text/javascript"> 
{%endspaceless%}
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");

			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
{%spaceless%}
		</script>
		<script type="text/javascript"> 
{%endspaceless%}
			try {

				var pageTracker = _gat._getTracker("");

				pageTracker._trackPageview();

			} catch(err) {}
{%spaceless%}
		</script>
    </body>
</html>{%endspaceless%}